<app-header></app-header>

<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Welcome to <span>El Lorente</span></h1>
          <h2>Delivering great food for more than 18 years!</h2>

          <div class="btns">
            <a href="menu" class="btn-menu animated fadeInUp scrollto">Our Menu</a>
            <a href="book" class="btn-book animated fadeInUp scrollto">Book a Table</a>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative"  data-aos="zoom-in" data-aos-delay="200">
          <a href="samplev" class="glightbox play-btn"></a>
        </div>

      </div>
    </div>

    
  </section><!-- End Hero -->




  <main id="main">


     <!-- ======= About Section ======= -->
     <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
              <div class="about-img">
                <img src="https://i.postimg.cc/L83HMTrt/about.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3 class="text-light">Taste the ultimate  El Lorente can offer</h3>
              <p class="fst-italic">
                We pride oueselves as one of the most luxurious restaurants in India and we welcome you to expirience the fine dining we offer.
              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i> Enjoy a stress-free time with our delightful staff.</li>
                <li><i class="bi bi-check-circle"></i> We have a large menu encompassing every palette concievable.</li>
                <li><i class="bi bi-check-circle"></i>We here create a relaxing enviornment free from all the worries from the outside.</li>
              </ul>
              <p>
                Be it a celebretory dinner or a romantic date , We welcome you to El Lorento to be our guests.We carefully curate your time with us with the atmost delicacy it require and are proud to state that it won't be the last time you visit 
              </p>
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->


       <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Why Us</h2>
            <p>Why Choose Our Restaurant</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-4">
              <div class="box" data-aos="zoom-in" data-aos-delay="100">
                <span>01</span>
                <h4>Great Customer service</h4>
                <p>El Lorento staff cares for you like family. You can enjoy your time with us with nothing to worry. </p>
              </div>
            </div>
  
            <div class="col-lg-4 mt-4 mt-lg-0">
              <div class="box" data-aos="zoom-in" data-aos-delay="200">
                <span>02</span>
                <h4>Variety in the menu</h4>
                <p>The Menu of El Lorento Consists one of the most expansive list of cusines you could ever find.</p>
              </div>
            </div>
  
            <div class="col-lg-4 mt-4 mt-lg-0">
              <div class="box" data-aos="zoom-in" data-aos-delay="300">
                <span>03</span>
                <h4>Enviornmentally Concient</h4>
                <p>El Lorento is aware of the toll all of us take on the nature so we are an enviornmentally concient organization.</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Why Us Section -->





       <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Menu</h2>
            <p>Check Our Tasty Menu</p>
          </div>
  
          <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="menu-flters">
                <!-- <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-starters">Starters</li>
                <li data-filter=".filter-salads">Salads</li>
                <li data-filter=".filter-specialty">Specialty</li> -->
              </ul>
            </div>
          </div>
  
          <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
  
            <div class="col-lg-6 menu-item filter-starters">
              <img src="https://i.postimg.cc/fWxS82wL/lobster-bisque.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Lobster Bisque</a><span>$5.95</span>
              </div>
              <div class="menu-ingredients">
                Lorem, deren, trataro, filede, nerada
              </div>
            </div>
  
            <div class="col-lg-6 menu-item filter-specialty">
              <img src="https://i.postimg.cc/jjpCXNmP/bread-barrel.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Bread Barrel</a><span>$6.95</span>
              </div>
              <div class="menu-ingredients">
                Lorem, deren, trataro, filede, nerada
              </div>
            </div>
  
            <div class="col-lg-6 menu-item filter-starters">
              <img src="https://i.postimg.cc/T29YyZdr/cake.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Crab Cake</a><span>$7.95</span>
              </div>
              <div class="menu-ingredients">
                A delicate crab cake served on a toasted roll with lettuce and tartar sauce
              </div>
            </div>
  
            <div class="col-lg-6 menu-item filter-salads">
              <img src="https://i.postimg.cc/LsLmmWQg/caesar.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Caesar Selections</a><span>$8.95</span>
              </div>
              <div class="menu-ingredients">
                Lorem, deren, trataro, filede, nerada
              </div>
            </div>
  
            <div class="col-lg-6 menu-item filter-specialty">
              <img src="https://i.postimg.cc/pTPMRLn3/tuscan-grilled.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Tuscan Grilled</a><span>$9.95</span>
              </div>
              <div class="menu-ingredients">
                Grilled chicken with provolone, artichoke hearts, and roasted red pesto
              </div>
            </div>
  
            <div class="col-lg-6 menu-item filter-starters">
              <img src="https://i.postimg.cc/YSbbLrs5/mozzarella.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Mozzarella Stick</a><span>$4.95</span>
              </div>
              <div class="menu-ingredients">
                Lorem, deren, trataro, filede, nerada
              </div>
            </div>
  
            <div class="col-lg-6 menu-item filter-salads">
              <img src="https://i.postimg.cc/KzCV4cKZ/greek-salad.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Greek Salad</a><span>$9.95</span>
              </div>
              <div class="menu-ingredients">
                Fresh spinach, crisp romaine, tomatoes, and Greek olives
              </div>
            </div>
  
            <div class="col-lg-6 menu-item filter-salads">
              <img src="https://i.postimg.cc/mgV5Cycp/spinach-salad.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Spinach Salad</a><span>$9.95</span>
              </div>
              <div class="menu-ingredients">
                Fresh spinach with mushrooms, hard boiled egg, and warm bacon vinaigrette
              </div>
            </div>
  
            <div class="col-lg-6 menu-item filter-specialty">
              <img src="https://i.postimg.cc/SsY100gH/lobster-roll.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Lobster Roll</a><span>$12.95</span>
              </div>
              <div class="menu-ingredients">
                Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Menu Section -->

        <!-- ======= Specials Section ======= -->
    <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Specials</h2>
          <p>Check Our Specials</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Chocolate Millefueille</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Cheese Tuiles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Steelhead Trout Roe</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Ratatouille</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Ta'meya</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Chocolate Millefueille</h3>
                    <p class="fst-italic">Translating literally as "a thousand leaves", this world-famous French dessert consists of three components: puff pastry, pastry cream or whipped cream, and a glaze or a fondant. The delicate puff pastry is first rolled and trimmed to fit the desired shape, and once baked, both sides of the pastry are lightly dusted with powdered sugar and quickly caramelized under a broiler for extra crunch. The finished pastry is then cut into three strips, which are layered with either pastry cream or whipped cream, and sometimes fruit may be added as well. The top of the assembled cake can be sprinkled with powdered sugar or glazed with a signature icing consisting of alternating white and brown stripes.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="https://elitetraveler.com/wp-content/uploads/sites/8/2017/12/les-pres-eugenie-5472-chocolate-millefeuille.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Cheese Tuiles</h3>
                    <p class="fst-italic">Cheese tuiles, a type of thin papery biscuit (cookie), are very popular in Sweden. They are often made with Parmesan or Västerbottensost  and served as an aperitif with cheese straws and other nibbles. They are also served as a garnish with starters, soup or main courses where they may be bent into fancy shapes and sometimes even into baskets. Sometimes they have herbs, such as chives or olives added</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="https://elitetraveler.com/wp-content/uploads/sites/8/2017/12/hotel-de-ville-5472-cheese-tuiles.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Steelhead Trout Roe</h3>
                    <p class="fst-italic">Steelhead trout is an important species of fish in the Big Sur watershed. Unfortunately the wild population has reached critically low levels, so we use sustainable steelhead from Mt. Lassen, Calif., in this preparation.

                      For the Trout In the restaurant we cook the trout sous vide and then quickly brown it in a sauté pan. This creates an incredibly delicate flavor and texture, infusing the trout with the aromatics.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="https://elitetraveler.com/wp-content/uploads/sites/8/2017/12/alinea-3648-steelhead-trout-roe.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Ratatouille</h3>
                    <p class="fst-italic">This colorful Provençal vegetable ragout is traditionally made with simple, easily accessible ingredients: courgettes, eggplants, green and red peppers, tomatoes, onions, garlic, and parsley. The name ratatouille stems from the old Occitan word ratatolha, and the French word touiller, both meaning to toss, or to stir up, referring to the cooking process in which the ingredients are first simmered separately—seasoned with salt, pepper, and olive oil—and then tossed together and stirred into a vibrant vegetable medley.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="https://cdn.tasteatlas.com/Images/Dishes/5a9748c2067c4e00bfbad4334e858518.jpg?mw=1300" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Ta'meya</h3>
                    <p class="fst-italic">Even though these protein-packed chickpea fritters are listed as one of Israel's national dishes, it is often suggested that falafel might have originated in Egypt, Lebanon, or Palestine. By the 1950s, to earn a living, Yemenite immigrants in Israel started making falafel in the streets, selling it wrapped in paper, which has eventually transformed this ancient dish into an early form of Israeli fast food.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="https://cdn.tasteatlas.com/Images/Dishes/0429aeddad774cef90697f98d46eafa2.jpg?mw=1300" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Specials Section -->

    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Events</h2>
          <p>Organize Your Events in our Restaurant</p>
        </div>

        <div class="events-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img src="https://i.pinimg.com/originals/50/67/e5/5067e50739df9c951307f5c799da4bcb.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Birthday Parties</h3>
                  <div class="price">
                    <p><span>$189</span></p>
                  </div>
                  <p class="fst-italic">We Invite you as one of the primary spaces for luxurious birth day parties.
                    The staff is always vigilant for each and every need of our guests
                    
                  </p>
                  <br><br>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <br>
            <br>

            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img src="https://img.tagvenue.com/upload/a4/89/11703-private-events-suite-room.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Private Parties</h3>
                  <div class="price">
                    <p><span>$290</span></p>
                  </div>
                  <p class="fst-italic">We Invite you as one of the primary spaces for luxurious private parties.
                    The staff is always vigilant for each and every need of our guests
                    
                  </p>
                  <br><br>
                  <!-- <ul>
                    <li><i class="bi bi-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                    <li><i class="bi bi-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                    <li><i class="bi bi-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  </ul>
                  <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur
                  </p> -->
                </div>
              </div>
            </div><!-- End testimonial item -->
            <br>
            <br>

            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img src="https://s3.amazonaws.com/btoimage/prism-thumbnails/articles/20170920-bluebloodsteakhouse-05.jpg-resize-_opacity_100-frame_bg_color_FFF-gravity_center-q_70-preserve_ratio_true-w_1300_.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Custom Parties</h3>
                  <div class="price">
                    <p><span>$99</span></p>
                  </div>
                  <p class="fst-italic">
                    We Invite you as one of the primary spaces for luxurious costum parties.
                    The staff is always vigilant for each and every need of our guests
                  </p>
                  <!-- <ul>
                    <li><i class="bi bi-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                    <li><i class="bi bi-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                    <li><i class="bi bi-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  </ul> -->
                  <!-- <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur
                  </p> -->
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Events Section -->



    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>What they're saying about us</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="https://i.postimg.cc/SNctXbSb/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Dean Winchester</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="https://i.postimg.cc/hPwPGxt5/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="https://i.postimg.cc/SstHG630/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="https://i.postimg.cc/mDJBrWbF/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="https://i.postimg.cc/1tn127pR/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Gallery</h2>
          <p>Some photos from Our Restaurant</p>
        </div>
      </div>

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://i.postimg.cc/qqxb52ZM/gallery-1.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="https://i.postimg.cc/qqxb52ZM/gallery-1.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://i.postimg.cc/9XLyJxLw/gallery-2.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="https://i.postimg.cc/9XLyJxLw/gallery-2.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://i.postimg.cc/QdD3nq41/gallery-3.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="https://i.postimg.cc/QdD3nq41/gallery-3.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://i.postimg.cc/cLLDHg6P/gallery-4.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="https://i.postimg.cc/cLLDHg6P/gallery-4.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://i.postimg.cc/NFV0HrBb/gallery-5.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="https://i.postimg.cc/NFV0HrBb/gallery-5.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://i.postimg.cc/LXSSG36r/gallery-6.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="https://i.postimg.cc/LXSSG36r/gallery-6.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://i.postimg.cc/zvfs1tmP/gallery-7.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="https://i.postimg.cc/zvfs1tmP/gallery-7.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="https://i.postimg.cc/tgtwnQpM/gallery-8.jpg" class="gallery-lightbox" data-gall="gallery-item">
                <img src="https://i.postimg.cc/tgtwnQpM/gallery-8.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Section -->

    <!-- ======= Chefs Section ======= -->
    <section id="chefs" class="chefs">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Chefs</h2>
          <p>Our Proffesional Chefs</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <img src="https://i.postimg.cc/g0Bwb0TV/chefs-1.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Matt Donovan</h4>
                  <span>Master Chef</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <img src="https://i.postimg.cc/mgg2ZsM8/chefs-2.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Ashley Johnson</h4>
                  <span>Patissier</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="300">
              <img src="https://i.postimg.cc/HsBdhhK5/chefs-3.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Anderson</h4>
                  <span>Cook</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Chefs Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>
      </div>

      <div data-aos="fade-up">
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="container" data-aos="fade-up">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <!-- <i class="bi bi-geo-alt"></i> -->
                <i class="fa-solid fa-location-dot"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street,Fort Kochi</p>
              </div>

              <div class="open-hours">
                <!-- <i class="bi bi-clock"></i>
                 -->
                 <i class="fa-solid fa-clock"></i>
                <h4>Open Hours:</h4>
                <p>
                  Monday-Saturday:<br>
                  11:00 AM - 23:00 PM
                </p>
              </div>

              <div class="email">
                <!-- <i class="bi bi-envelope"></i> -->
                <i class="fa-solid fa-envelope"></i>
                <h4>Email:</h4>
                <p>ellorenteexcellance@rest.com</p>
              </div>

              <div class="phone">
                <!-- <i class="bi bi-phone"></i> -->
                <i class="fa-solid fa-mobile"></i>
                <h4>Call:</h4>
                <p>+91 6238665326</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form  [formGroup]="messageForm" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" formControlName="bname" placeholder="Your Name" required>
                  <div *ngIf="this.messageForm.get('bname')?.errors && this.messageForm.get('bname')?.touched" style="color:#cda45e;">Invalid Name</div>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" formControlName="bemail" placeholder="Your Email" required>
                  <div *ngIf="this.messageForm.get('bemail')?.errors && this.messageForm.get('bemail')?.touched" style="color:#cda45e;">Invalid email</div>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" formControlName="bsub" required>
                <div *ngIf="this.messageForm.get('bsub')?.errors && this.messageForm.get('bsub')?.touched" style="color:#cda45e;">Invalid Subject</div>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="8" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <app-footer></app-footer>









































